body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a3bb3b1a-2726-44ba-b229-0801b9293251/dgoipre-9de453f0-5bc8-4a61-a583-74b8ee510482.png/v1/fill/w_1280,h_768,q_80,strp/pokemon_by_sanshow_dgoipre-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2EzYmIzYjFhLTI3MjYtNDRiYS1iMjI5LTA4MDFiOTI5MzI1MVwvZGdvaXByZS05ZGU0NTNmMC01YmM4LTRhNjEtYTU4My03NGI4ZWU1MTA0ODIucG5nIiwiaGVpZ2h0IjoiPD03NjgiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC9hM2JiM2IxYS0yNzI2LTQ0YmEtYjIyOS0wODAxYjkyOTMyNTFcL3NhbnNob3ctNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.g5i2Qg3evrHz6j91ewM8qEQeUBPW94rHJpkUeGR_O5Q);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive;
}

.title-img {
    margin: 8px 0px 0px 0px;    
    height: 85px;
    padding-bottom: 8px;
}

.total-base-exp {
    font-size: 20px;
    opacity: 0.75;
} 

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 55px;

}



a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    opacity: 0.75;
}





#sort-a-z, #sort-z-a {
    font-family: cursive;
    font-size: 20px;
}


.card-carousel {
    display: flex;
    justify-content: center;
    height: 250px;
    pointer-events: none;
}

.card {
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: gray;
    border-radius: 10px;
    height: 265px;
    padding: 20px;
    width: 100%;
    max-width: 270px;
    margin: 0 auto;
    box-shadow: 5px 22px 34px rgba(3, 10, 51, 0.48);
    transition: all 300ms ease-in-out;
    position: absolute;
    z-index: 1;
}

.card.active {
    z-index: 3;
    background-color: cornflowerblue;
    opacity: 0.85;
}

.card.prev {
    transform: translate(-270px, 30px);
    opacity: 0.75;
    z-index: 2;
}

.card.next {
    transform: translate(270px, 30px);
    opacity: 0.75;
    z-index: 2;
}

.card.hidden {
    z-index: 0;
    opacity: 0;
}

.fav-btn {
    pointer-events: auto;
    background-color: #4883a5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: cursive;
    margin-top: 25px;
    width: 220px;
  }
  
  .fav-btn:hover {
    background-color: #6154d1;
    color: rgb(225, 225, 231);
  }


img {
    height: 130px;
    margin: 0;
}

.slide-control-container {
    margin-top: 125px;
}

button {
    font-size: 40px;
    border: none;
    margin: 0 30px;
    background: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;

}

button:hover, a:hover{
    opacity: 1;
    color: rgb(240, 115, 84);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
}